#principal {
    background-color: cadetblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#encabezado {
    background-color: beige;
}

#contenedor-info {
    background-color: aquamarine;
}

#pie-pagina {
    background-color: brown;
}