#principal {
    background-color: cadetblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 800px;
    height: 1000px;
    margin: 0;
    -webkit-box-shadow: 6px 7px 74px -3px rgba(237,227,31,1);
-moz-box-shadow: 6px 7px 74px -3px rgba(237,227,31,1);
box-shadow: 6px 7px 74px -3px rgba(237,227,31,1);
}

#encabezado {
    background-color: beige;
    text-align: center;
    text-transform: uppercase;
    text-decoration: dashed;
    height: 50px;
}

#contendor-info {
    background-color: aquamarine;
}

#lateral {
    background-color: chocolate;
    width: 400px;
    height: 200px;
    align-content: left;
}

#contenido {
    background-color: chartreuse;
    width: 400px;
    height: 200px;
}

#pie_pagina {
    background-color: brown;
}


body {
    --sb-track-color: #00afff;
    --sb-thumb-color: #a66baf;
    --sb-size: 5px;
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size)
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
    
  }
  
  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }