#principal {
    background-color: cadetblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 800px;
    height: 1000px;
}

#encabezado {
    background-color: beige;
    text-align: center;
    text-transform: uppercase;
    text-decoration: dashed;
}

#contendor-info {
    background-color: aquamarine;
}

#lateral {
    background-color: chocolate;
}

#contenido {
    background-color: chartreuse;
}

#pie_pagina {
    background-color: brown;
}